@use "../abstracts/" as *;
#Horror {
    .container {
        .row {
            .column {
                height: 520px !important;
                width: 350px !important;
            }
        }
    }

    .box1 {
        @include bgImg();
        background-image: url("../imgs/Horror/Black\ Thriller\ Ebook\ Cover\ Document.png") !important;
    }

    .box2 {
        @include bgImg();
        background-image: url("../imgs/Horror/Red\ and\ Black\ Photo\ The\ Red\ House\ Book\ Cover\ .png") !important;
    }

    .box3 {
        @include bgImg();
        background-image: url("../imgs/Horror/Red\ Black\ Illustrated\ Haunted\ Manor\ Horror\ Novel\ Book\ Cover.png") !important;
    }

    .box4 {
        @include bgImg();
        background-image: url("../imgs/Horror/Teal\ and\ Black\ The\ Silence\ Wattpad\ Book\ Cover.png") !important;
    }

    .bodyText {
        @include flexCenter(column);
        align-items: flex-start !important;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.445) !important;

        p {
            color: white;
        }

        span.priseUnit {
            color: $color1;
        }
    }
}