@use "../abstracts/" as *;
.pop-up-nav{
    @include Position($type: fixed, $t: 0,$l: 0);
    @include size($w:100%,$h:100%);
    &.show{
        opacity: 1;
        z-index: 10000;
        .pop-box-nav{
            transform: translateX(0);
            opacity: 1;
        }
    }
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }
    opacity: 0;
    z-index: -1;
    transition-duration:1s;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.603);
    overflow: auto!important;
    .pop-box-nav{
        @include Position($type: absolute, $t: 0, $l: 0);
        @include flexCenter(column);
        width: 350px;
        background-color: rgb(22, 22, 22);
        background-image: url("../imgs/bg.png");
        padding: 50px 5px;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.5s 0.5s;
        .logout{
            @include Position($type: absolute, $t: 10px, $l: 0);
            @include flexCenter();
            justify-content: flex-end;
            button{
                width: 70px;
                background-color: transparent;
                border: 0;
            }
        }
        .title{
            @include flexCenter(column);
            .titleHead{
                @include flexCenter();
                h2{
                    margin-top: 0.6rem;
                    color: white;
                }
            }
        }
        .imgLogo{
            @include flexCenter();
            width: 150px;
            overflow: hidden;
            border-radius: 100%;
            border: 2px dotted #e4c590;
            backdrop-filter: blur(5px);
            background: rgba(0, 0, 0, 0.603);
        }
        .navLinks{
            @include responsive(350){
                display: flex!important
            }
        ul{
            @include flexCenter(column);
            li{
                margin: 0;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
    }
        .navLinks2{
            @include responsive(350) {
                    display: flex !important
                }
            ul{
                li{
                    margin-bottom: 0!important;
                    &:first-child {
                        border-block: 0!important;
                    }
                    width: 70%;
                    text-align: center;
                    &::after,&::before{
                        display: none;
                    }
                    border-block: 2px dashed $color1;
                    
                }
            }
        }
        .navLinks3{
            @include responsive(350) {
                display: flex !important
            }
        }
    }
    
    
}