@use "../abstracts/" as *;
.searchPage{
    overflow: auto;
    .container{
        @include flexCenter(column);
        
        .title{
            @include flexCenter(column);
        }
        .searchBox{
            width: 100%;
            position: relative;
            .inputData{
                position: relative;
                .imgSearch {
                        @include Position($type: absolute, $b: 0, $r: 0);
                        width: 40px;
                    }
                    input {
                        width: 100%;
                        background-color: transparent;
                        outline: none !important;
                        border: 0;
                        border-bottom: 2px solid $color1;
                        padding: 10px;
                        color: white;
                
                        &:focus {
                            outline: none;
                        }
                
                        &::placeholder {
                            color: rgba(255, 255, 255, 0.728);
                        }
                    }
            }
            .resCon{
                position: absolute;
                width: 100%;
                max-height: 200px;
                overflow: auto;
                backdrop-filter: blur(2px);
                background: rgba(0, 0, 0, 0.326);
                border: 2px solid $color1;
                border-top: 0;
                padding: 10px;
                border-radius: 0px 0px 15px 15px;
                &::-webkit-scrollbar {
                    width: 10px;
                    /* عرض الشريط */
                    height: 10px;
                    /* ارتفاع الشريط الأفقي */
                }            
                &::-webkit-scrollbar-track {
                    background: #3939395d;
                    /* خلفية المسار */
                    border-radius: 10px;
                }      
                &::-webkit-scrollbar-thumb {
                    background-color: #bca540;
                    /* لون المقبض */
                    border-radius: 10px;
                    /* انحناء المقبض */
                    border: 3px solid #1a1a1a;
                    /* مسافة بين المقبض والمسار */
                }  
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #ffaa00;
                    /* لون عند التحويم */
                } 
                * {
                    scrollbar-width: thin;
                    /* حجم الشريط */
                    scrollbar-color: #ffdd32 #1a1a1a;
                    /* thumb color, track color */
                }
                #results{
                    @include flexCenter(column);
                    a{
                        width: 100%;
                        text-align: center;
                        color: white;
                        transition: all 0.5s;
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                        &:hover{
                            background:black;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}