@use "variables" as *;
@use "mixin" as *;

.font1{
    font-family: "Roboto Condensed", sans-serif;
}
.font2{
    font-family: "Pinyon Script", cursive;
}
.font3{
    font-family: 'Italianno';
}
.color1{
    color: #e4c590;
}
$color1: #e4c590;
.title{
    h2{
        margin-bottom: 0;
    }
    img{
        width: 120px;
    }
    .titleHead{
        @include flexCenter();
        justify-content: flex-start;
        img{
            width: 75px;
            margin-bottom: 6px;
        }
    }
}
.btnb{
    background-color: transparent;
    border: 2px solid #e4c590;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
    p{
        position: relative;
    }
    &::before{
        @include Position($type: absolute, $t: 50%, $l: 50%);
        @include shapeNav($w: 50px, $h: 50px, $color:#e4c5909c, $opacity: 0, $border-color:transparent);
        transform: translate(-50%,-50%);
        border-radius: 100%;
        transition: all 0.7s ;
    }
    &:hover{
        &::before{
            border-radius: 0;
            width: 110%!important;
            height: 110%!important;
            opacity: 1;
            
        }
    }
}
a{
    text-decoration: none;
}
.navLinks {
    @include flexCenter();

    @include responsive(350) {
        display: none;
    }

    @include responsive(850) {
        display: initial;
    }

    ul {
        @include flexCenter();
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            
            &.active {
                
                &::before,
                &::after {
                    @include shapeNav($w: 20px, $h: 10px, $color: transparent, $opacity: 1, $border-color: #e4c590);
                    position: absolute;
                    border-width: 3px;
                }

                &::before {
                    top: 0;
                    left: 0;
                    border-right: 0;
                    border-bottom: 0;
                }

                &::after {
                    border-top: 0;
                    border-left: 0;
                    right: 0;
                    bottom: 0;
                }

                a {
                    p {
                        color: #e4c590;
                    }
                }
            }
            
            &:not(:last-child) {
                margin-right: 20px;
            }

            padding: 10px;

            a {
                color: white;

                p {
                    font-size: 20px;
                    font-weight: 700;
                    transition-duration: 1s !important;
                }
            }
        }
    }
}
.navLinks2 {
    @include flexCenter();

    @include responsive(350) {
        display: none;
    }

    @include responsive(850) {
        display: initial;
    }

    ul {
        @include flexCenter(column);
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;

            &.active {

                &::before,
                &::after {
                    @include shapeNav($w: 20px, $h: 10px, $color: transparent, $opacity: 1, $border-color: #e4c590);
                    position: absolute;
                    border-width: 3px;
                }

                &::before {
                    top: 0;
                    left: 0;
                    border-right: 0;
                    border-bottom: 0;
                }

                &::after {
                    border-top: 0;
                    border-left: 0;
                    right: 0;
                    bottom: 0;
                }

                a {
                    p {
                        color: #e4c590;
                    }
                }
            }



            padding: 10px;

            a {
                color: white;

                p {
                    font-size: 20px;
                    font-weight: 700;
                    transition-duration: 1s !important;
                }
            }
        }
    }
}
.navLinks3 {
    @include flexCenter();

    @include responsive(350) {
        display: none;
    }

    @include responsive(850) {
        display: initial;
    }

    ul {
        @include flexCenter(column);
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;

            &.active {

                &::before,
                &::after {
                    @include shapeNav($w: 20px, $h: 10px, $color: transparent, $opacity: 1, $border-color: #e4c590);
                    position: absolute;
                    border-width: 3px;
                }

                &::before {
                    top: 0;
                    left: 0;
                    border-right: 0;
                    border-bottom: 0;
                }

                &::after {
                    border-top: 0;
                    border-left: 0;
                    right: 0;
                    bottom: 0;
                }

                a {
                    p {
                        color: #e4c590;
                    }
                }
            }



            padding: 10px;

            a {
                color: white;

                p {
                    font-size: 20px;
                    font-weight: 700;
                    transition-duration: 1s !important;
                }
            }
        }
    }
}
.spre {
    @include flexCenter();

    img {
        width: 120px;
    }
}
html{
    scroll-behavior: auto!important;
}
body{
    scroll-behavior: auto!important;
}
*{
    scroll-behavior: auto!important;
}
nav{
    .navBtn{
        .cart{
            position: relative;
            span{
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(-40%);
                h2{
                    @include flexCenter;
                    font-size: 16px;
                    background-color: #e4c590;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    padding: 0;
                    margin: 0;
                    color: black!important;
                }
            }
        }
    }
}