@keyframes animiTranslate {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes animiopacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes animationRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes Swap {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10%{
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
    }
}